<div ng-include src="'/partials/header.html'"></div>

<div class="jumbotron" ng-controller="MainCtrl">
  <h1>When the DUVs Cry</h1>
  <p class="subtitle">
    Are you Ready to dominate the Glossary?
  </p>

  <input class="email" text ng-model="user" ng-change="updateUser()" placeholder="name" />
  <p class="hell-yes"><a class="btn btn-lg btn-success" ng-href="#/quiz">HELL YES! <span class="glyphicon glyphicon-ok"></span></a></p>
</div>

<div class="row marketing">
  <h4>Why?</h4> Somebody needed to do it...
</div>

<div ng-include src="'/partials/footer.html'"></div>
