<div ng-include src="'/partials/header.html'"></div>

<div class="jumbotron" ng-controller="MainCtrl">
  <h1>When the DUVs Cry</h1>
  <p class="subtitle">
    Are you Ready to dominate the Glossary?
  </p>

  <input class="email" text ng-model="user" ng-change="updateUser()" placeholder="name" />
  <p class="hell-yes"><button class="btn btn-lg btn-success" ng-click="startQuiz()" ng-disabled="user.length == 0">HELL YES! <span class="glyphicon glyphicon-ok"></span></button></p>
</div>

<div ng-include src="'/partials/footer.html'"></div>
