<div ng-include src="'/partials/header.html'"></div>

<div class="jumbotron" ng-controller="QuizCtrl">

  <div class="progress progress-striped active">
    <div class="progress-bar progress-bar-success" role="progressbar" aria-valuetransitiongoal="{{getPercentage()}}"></div>
  </div>

  <form>
    <h2>Quiz Question</h2>
    <p class="lead">
      {{questions[questionId].term}}
    </p>

    <ol type="A">
        <li ng-repeat="(label, answer) in questions[questionId].answers"><input type="radio" name="currentAnswer" value="{{label}}" ng-model="$parent.currentAnswer"> {{answer}}</li>
    </ol>
    <!-- ng-disabled="currentAnswer.length == 0" -->
    <p class="submit"><button class="btn btn-lg btn-primary" ng-click="next()" ng-disabled="false">Submit</button></p>
  </form>
</div>


<div ng-include src="'/partials/footer.html'"></div>
